pandas>=2.0
numpy>=1.26
scipy>=1.11

networkx>=3.0
matplotlib>=3.7
python-louvain>=0.16

igraph>=0.11
leidenalg>=0.10
pycairo>=1.26

plotly>=5.18
pyvis>=0.3.2

datashader>=0.16
holoviews>=1.18
bokeh>=3.3

jupyter>=1.0
notebook>=7.0
kagglehub>=0.2